body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6e6;
    color: #663399;
    text-align: center;
}

.screen {
    display: none;
    padding: 20px;
}

.screen.hidden {
    display: none;
}

button {
    background-color: #ff99cc;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #ff6699;
}

img {
    width: 200px;
    height: auto;
    margin-top: 20px;
}
